.site-footer
  position: fixed
  bottom: 0
  z-index: -50
  background-color: $grey-800
  color: $grey-500

  a
    color: $grey-300

.site-footer
  border-top: 1px solid $grey-color-light

.contact-list,
.social-media-list
  list-style: none
  margin-left: 0
  margin-bottom: 0

  .twitter:hover
    svg path
      fill: $twitter
  .github:hover
    svg path
      fill: $grey-300
  .facebook:hover
    svg path
      fill: $facebook

  li
    margin-bottom: 0.1em
    padding: 0.2em 0.5em
    .icon
      svg
        width: 1rem
        height: 1rem
    a
      text-decoration: none

  .username
    letter-spacing: 0.08em
    margin-left: 0.4em


.footer-col-wrapper
  display: flex
  justify-content: space-around
  font-size: 0.7rem
  //color: $grey-color
  //margin-left: -$spacing-unit / 2
  @extend %clearfix
  @include media-query(640px)
    flex-direction: row
    flex-wrap: wrap

.footer-col
  margin-bottom: 0.5rem
  padding-left: 0.5em
  min-width: 10em
  p
    display: block
.footer-col-3
  flex-shrink: 1

//
  .footer-col
    float: left
  .footer-col-1
    width: -webkit-calc(35% - (#$spacing-unit / 2))
    width:         calc(35% - (#$spacing-unit / 2))
  .footer-col-2
    width: -webkit-calc(20% - (#$spacing-unit / 2))
    width:         calc(20% - (#$spacing-unit / 2))
  .footer-col-3
    width: -webkit-calc(45% - (#$spacing-unit / 2))
    width:         calc(45% - (#$spacing-unit / 2))
  @include media-query($on-laptop)
    .footer-col-1,
    .footer-col-2
      width: -webkit-calc(50% - (#$spacing-unit / 2))
      width:         calc(50% - (#$spacing-unit / 2))
    .footer-col-3
      width: -webkit-calc(100% - (#$spacing-unit / 2))
      width:         calc(100% - (#$spacing-unit / 2))
  @include media-query($on-palm)
    .footer-col
      float: none
      width: -webkit-calc(100% - (#$spacing-unit / 2))
      width:         calc(100% - (#$spacing-unit / 2))
