.wrapper
  width: 100vw
  margin: 0 auto
  //text-align: center
  @extend %clearfix

.container
  max-width: 48em
  margin: 0 auto
  //text-align: center
  padding: 0 0.125rem

.page-heading
  font-size: 1.5rem

.dark
  background-color: $grey-800
  color: $grey-50

  a
    color: $grey-100

.graphic
  position: relative
  .source
    background-color: none
    color: white
    text-transform: uppercase
    letter-spacing: 0.1em
  span
    opacity: 0
    color: $grey-200
    font-family: $font-sss
    font-size: 0.6rem
    font-weight: 300
    letter-spacing: 0.15em
    background-color: rgba(black,0.6)

  &:hover
    span
      opacity: 1
